<section class="flex flex-col gap-2">
  <input
    class="outline-none border-2 border-gray-600 rounded px-2 py-1 w-72"
    type="text"
    placeholder="Enter password..."
    [ngModel]="value"
    (ngModelChange)="change($event)"
  />

  <div class="flex justify-between items-center">
    <ng-container *ngFor="let statusClass of statusClasses">
      <app-password-status-field
        [statusClass]="statusClass"
      ></app-password-status-field>
    </ng-container>
  </div>
</section>
