name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.13.0"

      - name: Install dependencies
        run: npm install

      - name: Unit tests
        run: npm run test -- --watch=false --browsers=ChromeHeadless

      - name: Build app
        run: npm run build
